h3 API Results
table.table.table-striped
	thead
		tr
			th Title
			th Author
			th Date Published
			th Genre
			th Description
			th Publisher
	tbody

	each item in data
		tr
			td= item.title
			td= item.author
			td= item.date_published
			td= item.genre
			td= item.description
			td= item.publisher
			