h3 API Results
table.table.table-striped
    thead
        tr
            th Title 
            th Director
            th Release date
            th Genre
            th Duration

    tbody

    each item in data
        tr
            td= item.title
            td= item.directed_by
            td= item.release_date
            td= item.genre
            td= item.duration